<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">

    <title>English to French Translation</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>English to French Translation</h1>
        </header>

        <section class="translation-section">
            <form method="post" action="/translate">
                <label for="input_text">Enter English Text:</label>
                <textarea id="input_text" name="input_text" rows="4" cols="50" placeholder="Type your English text here" required></textarea>
                <br>
                <div class="error-box" id="error_message"></div>
                <button type="button" onclick="validateForm()">Translate</button>
            </form>
        </section>

        <div class="container2">
            {% if input_text or translated_text %}
            <section class="result-section">
                <div class="text-block">
                    <h3>Input Text (English):</h3>
                    <p>{{ input_text }}</p>
                </div>
                <div class="text-block">
                    <h3>Translated Text(French):</h3>
                    <p>{{ translated_text }}</p>
                </div>
            </section>
            {% endif %}
        </div>
    </div>

    <script>
        function validateForm() {
            var inputText = document.getElementById("input_text").value;
            var errorBox = document.getElementById("error_message");

            if (inputText.trim() === "") {
                errorBox.innerHTML = "Please enter English text.";
                errorBox.style.display = "block";
            } else {
                // If validation passes, you can submit the form
                document.forms[0].submit();
            }
        }
    </script>
</body>
</html>
